.container {
    margin-top: 100px !important;
}

.row {
    margin-bottom: 50px !important;
}

.sal-bar {
    display: inline-block;
    height: 20px;
}

.sal-liquido {
    background-color: #16a085 !important;
}

.disc-inss {
    background-color: #e67e22 !important;
}

.disc-irpf {
    background-color: #c0392b !important; 
}